
#navbar {
margin: 0;
padding: 0;
position: fixed;
top: 0;
left: 0;
width: 100%;
font-weight: bold;
background-color: black;
color:aliceblue
}
#navlink {
    color: aliceblue;
}
#netflix {
    color: #cc1f24;
}